#Infisical Environment Variables Example
ENCRYPTION_KEY='openssl rand -hex 16'
AUTH_SECRET='openssl rand -base64 32'
DB_CONNECTION_URI='postgresql://user:password@nombrer_servicio:5432/infisical?sslmode=disable'
REDIS_URL='redis://nombre_servicio:6379'
#Posgtgres Environment Variables
POSTGRES_USER=infisical
POSTGRES_PASSWORD=infisical
POSTGRES_DB=infisical
JWT_AUTH_LIFETIME=15m
JWT_REFRESH_LIFETIME=24h
JWT_SERVICE_LIFETIME=1h
CORS_ALLOWED_ORIGINS=["http://localhost:3000", "http://localhost:8080"]
