#Infisical Environment Variables Example
ENCRYPTION_KEY='openssl rand -hex 16'
AUTH_SECRET='openssl rand -base64 32'
#Posgtgres Environment Variables
POSTGRES_USER=infisical
POSTGRES_PASSWORD=infisical
POSTGRES_DB=infisical
# JWT Lifetimes
JWT_AUTH_LIFETIME=15m
JWT_REFRESH_LIFETIME=24h
JWT_SERVICE_LIFETIME=1h
# CORS Settings
CORS_ALLOWED_ORIGINS=["http://localhost:3000", "http://localhost:8080"]
